//STYLE DE NOTRE HEADER

.header-page {
  background-color: $color-bg-dark;


  nav .show-menu, nav .toggle-menu {
    display: none;
  }
  nav {
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: $color-text-normal;
      margin: 0 0 5px;
    }

    ul {
      list-style: none;
      padding: 0;

      width: 100%;
      text-align: center;

      li{
        position:relative;

        &>ul {
          display: none;
          z-index: 50;
          top: 100%;

          padding-top: 20px;

          background: $color-bg-dark;

          li{
            width: 100%;
          }
        }

      }


      li:hover > ul {
        display: block;

        li{
          padding: 5px;
        }

        li:hover{
          background: $gray-600;
        }
      }

    }

  }

}

@media screen and (min-width: $vw-small) {
  .header-page {

    nav .show-menu {
      display: block;
      text-align: center;
      color: #fff;
      background: #555;
      padding: 10px 0;
    }

    nav .toggle-menu:checked + ul {
      display: block;
    }

    nav .toggle-menu {
      display: none;
    }


    nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;
        width: auto;
        text-align: left;

        a {
          padding: 5px 10px;
        }

        li>ul{
          position: absolute;
          min-width: 100px;
        }
      }
    }
  }

}

